# Grafana datasource configuration for Prometheus
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: '15s'
      queryTimeout: '60s'
      httpMethod: 'POST'
      manageAlerts: true
      alertmanagerUid: 'alertmanager'
    secureJsonData: {}

  - name: Alertmanager
    type: alertmanager
    uid: 'alertmanager'
    access: proxy
    url: http://alertmanager:9093
    editable: true
    jsonData:
      implementation: 'prometheus'
